{% include "header.html" %}
<body>
    <p class="paragraph">Welcome to the site where you can keep track of your work.<br> What you have to do or what you want
        to do next.</p>
    <img class="image" src="static/todo.jpg" height="200">
    <p class="paras">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Morbi ultricies odio ut ligula eleifend,
        at semper dui euismod. <br>Nulla tincidunt, enim quis vehicula varius, dolor odio mattis nulla, <br>eget
        dictum purus lectus vel nibh. Integer ultrices vel ipsum ut ullamcorper.<br> Duis interdum dolor sed urna
        rutrum gravida.<br> Nulla ac lorem turpis. Nulla cursus libero metus.<br>Praesent consequat suscipit justo, ut m
        attis mauris blandit et.</p>
{% include "footer.html" %}
</body>
</html>